<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="shortcut icon" href="images/mount.png" type="image/png">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=a7de958b-2436-4d44-9a6f-150e16a3e997&lang=ru_RU" type="text/javascript"></script>
  <title>TOPMOUNTAIN</title>
</head>
<body>
  <nav class="navbar is-light navbar-bottom-box-shadow-size" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="images/toppng.com-mountain-png-1024x379.png" width="112" height="28">
      <img src="images/name.png" style="margin-top: 3%;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Главная страница
      </a>

      <a class="navbar-item" href="http://www.mountain.ru/world_mounts/himalayas/2001/statistika/statistika.shtml">
        Рейтинги
      </a>
    </div>
  </div>
</nav>
  {{{body}}}
</body>
</html>
