<div class="center2">
  <div>
  <form action="/mapWorld8000" method="GET">
  <button class="centerButton2">14 восьмитысячников</button>
  </form>
    <form action="/map7peaks" method="GET">
  <button class="centerButton2">7 Вершин</button>
  </form>
  </div>
</div>
